body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .semaforo {
    width: 100px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
  }
  
  .luz {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    background-color: #111;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
  }
  
  .luz.ativo {
    box-shadow: 0 0 20px 10px;
  }
  
  .vermelho.ativo {
    background-color: red;
  }
  
  .amarelo.ativo {
    background-color: yellow;
  }
  
  .verde.ativo {
    background-color: green;
  }
  